html, body {
    margin: 0px;
}

main {
    margin: 8px;
}

.head_title {
    text-align: center;
}

.list {
    width: 100%;
    border: 3px;
    border-color: black;
}

table.list, table.list tr, table.list tr td {
    border: 1px solid black;
    border-collapse: collapse;
}

table.list thead {
    font-weight: bold;
    font-size: larger;
}

header {
    width: 100%;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #e0ffe5;
    vertical-align: middle;
    text-align: center;
}

header a {
    display: inline;
    height: 100%;
    padding: 8px;
    vertical-align: bottom;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

header a:hover {
    background-color: #98ffa9;
}

.table_form, .table_form tr, .table_form tr td {
    border: none !important;
}

.list_item {
    cursor: pointer;
}

.list_item:hover {
    background-color: #e0ffe5;
}

.list_item_add {
    background-color: #cbffd4;
}

.list_item_delete {
    background-color: #ffd4d4;
}